@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --tw-bg-opacity: 1;
    /* background-color: #F6F8F9; */
    background-color: white;
}

.oswald {
  font-family: 'Oswald';
}

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {

  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* padding: 0 2rem; */

    
    
  }
}

* {
  --bg-gray: #F6F8FA;
  --bg-more-gray: #ECF1F6;
}

.grayBG, .routerViewContent {
  background-color: var(--bg-gray);
}

.moreGrayBG {
  background-color: var(--bg-more-gray);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #c69595 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c69595;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }